html {
  height: 100%;
  background-color: #282c34;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1 0 auto;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  flex-shrink: 0;
  font-size: calc(10px + 0.75vmin);
}

a {
  color: white;
}

p {
  margin: 0 0;
}
